body{
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
.card{
    background-color: #f1f5f9;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
}
.card ul {
    text-align: left;
    background-color: #dddd;
    padding: 10px 20px 20px 20px;
    border-radius: 12px;
}
/* removing bulletpoints */
.facts-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.facts-list li {
    margin-bottom: 7px;
    color: #414141;
    font-size: 14px;
    padding: 4px 5px;
    line-height: 1.4;

    display: flex;
    align-items: center;
    gap: 12px;
}
.facts-list li span{
    font-size: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.card p {
    line-height: 1.6;
}
.card h1 {
    color: #1e293b;
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}
.subtitle {
    color: #28a99e; 
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 25px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}