* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* They will stack vertically on mobile by default */
    flex-direction: column;
    gap: 20px;
}

/* If the screen is big (Computer), then they will be put side by side */
@media (min-width: 800px){
    body{
        flex-direction: row;
    }
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    width: 320px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.shark-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.tag {
    background-color: rgba(16, 185, 129, 0.2);
    color: #34d399;
    border: 1px solid #10b981;
    padding: 6px 16px;
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    margin-bottom: 10px;
}

h1 {
    margin-top: 10px;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: -1px;
    text-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

p {
    color: #cbd5e1;
    text-align: left;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 300;
    display: flex;
}

.info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 25px;
}

.info-box {
    flex: 1;
    width: 0;
    text-align: center;
}

.info-box h3 {
    font-size: 0.65rem;
    text-transform: uppercase;
    color: #94a3b8;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.info-box span {
    font-weight: 700;
    font-size: 1.1rem;
    color: #34d399;
    text-shadow: 0 0 10px rgba(16, 185, 129, 0.3);
}

.next-button {
    background-color: #10b981;
    color: #064e3b;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: all 0.2s ease;
}

.next-button:hover {
    background-color: #34d399;
    transform: scale(1.05);
}

.map-container {
    /* It makes the container the anchor for the dot */
    position: relative;
    width: 320px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.word-map {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.dot{
    /* I can use Top/Left to move it anywhere */
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ef4444;
    border-radius: 50%;
    border: 2px sold white;
    box-shadow: 0 0 10px #ef4444;
    /* Animation: Smooth movement when coordinates change */
    transition: all 0.5s ease-out;
    /* Center the dot on the coordinate */
    transform: translate(-50%, -50%);
}